header {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 90%;
  min-width: none;
  max-width: 57rem;
  height: 4rem;
  margin: 0 auto;
  background-color: transparent;
  justify-content: flex-start;
  z-index: 11;
}

.menu_check {
  position: relative;
  top: -9990px;
  left: -9990px;
  opacity: 0;
  cursor: none;
  height: 0;
  width: 0;
}

.menu_check:checked ~ nav {
  opacity: 1;
  transform: scale(1, 1);
  transition: all 350ms ease-in-out;
}

label.menu_label {
  align-self: center;
  position: absolute;
  left: 1.3rem;
  top: 2.2857142857rem;
  background-color: rgb(248, 207, 64);
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.15rem;
  margin: 0.2rem;
  z-index: 10;
  transition: all 500ms ease-in-out;
}

label.menu_label::after {
  content: "";
  color: transparent;
  background-color: rgb(248, 207, 64);
  bottom: 0.5rem;
  transition: all 100ms ease;
}

label.menu_label::before {
  content: "";
  top: 0.5rem;
  background-color: rgb(248, 207, 64);
  transition: all 100ms ease;
}

label.menu_label::after,
label.menu_label::before {
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.15rem;
  transition: all 20ms ease;
}

.menu_check:checked ~ label.menu_label {
  transform: scale(1.6, 2) translatey(150%);
  transform-origin: left;
  transition: transform 350ms ease;
}

.menu_check:checked ~ label.menu_label::after,
.menu_check:checked ~ label.menu_label::before {
  transform: scale(1, 0);
  transform-origin: top;
  background-color: transparent;
  transition-duration: 50ms;
}

.menu_wrap {
  background-color: transparent;
  width: 110%;
  height: 600%;
  transform: translate(0, -0.75rem);
  z-index: -1;
}

.tool_tip.label {
  align-self: center;
  position: relative;
  left: 4.05rem;
  bottom: 0.5rem;
  height: max-content;
  width: max-content;
  background-color: rgba(28, 30, 30, 0.9);
  border-radius: 0.55rem;
  transform: scale(0, 0);
  transform-origin: top left;
  transition: transform 300ms ease-out 3500ms;
  border-inline: 0.2rem solid rgba(140, 168, 183, 0.8);
  border-block: 0.2rem solid rgba(140, 168, 183, 0.8);
}

.tool_tip.label > p {
  color: rgb(255, 255, 0);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem 0.3rem;
}

.tool_tip::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-right: 1.93rem solid rgba(140, 168, 183, 0.85);
  border-bottom: 0.5rem solid transparent;
  transition: border-color 1000ms steps(2, end) 2500ms;
  position: absolute;
  top: 0.4rem;
  left: -1.89rem;
}

input.menu_check:checked + label.menu_label div.tool_tip.label {
  transform: scale(0, 0);
  transition: transform 50ms ease-out 10ms;
}

.menu_wrap:hover > .tool_tip.label,
label.menu_label:hover .tool_tip.label,
.menu_wrap:hover .tool_tip::after,
label.menu_label:hover .too_tip::after {
  transform: scale(1, 1);
  transition: transform 150ms ease-out 1000ms;
}

nav.Main_Nav {
  position: absolute;
  top: 4rem;
  background-color: inherit;
  flex: 1 1 8rem;
  opacity: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: left;
}

ul#buttons {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 0.2rem;
  background-color: inherit;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(23, 45, 72, 0.999);
  margin: 0.1rem auto;
  border-radius: 0.2rem;
}

ul#buttons button,
ul#buttons a {
  font-family: "Fredoka", Helvetica, "open sans", Arial;
  font-weight: bolder;
  font-size: 1.15rem;
  padding: 0.5rem auto;
  background-color: rgba(23, 45, 72, 0.95);
  color: rgb(248, 207, 64);
  border-style: none;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

ul#buttons button[value=page] {
  border-bottom: 0.15rem solid rgb(248, 207, 64);
  font-size: 1.25rem;
}
ul#buttons button[value=page] a {
  background-color: transparent;
  font-size: 1.25rem;
}

ul#buttons button:hover a,
ul#buttons button:hover a:hover {
  background-color: transparent;
  color: rgb(248, 207, 64);
}

ul#buttons button:active {
  color: rgb(23, 45, 72);
  text-decoration: none;
  background-color: rgba(140, 168, 183, 0.7);
}

ul#buttons button:active a:active,
ul#buttons button:active a {
  border-style: none;
  color: rgb(23, 45, 72);
}

.MainTitle {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -0.1rem;
  bottom: 5%;
  color: rgb(248, 207, 64);
  font-family: "Fredoka", Helvetica, "open sans", Arial;
  font-size: 3rem;
  font-weight: 900;
  background: transparent;
  align-self: flex-end;
  width: auto;
  padding: 0rem auto;
}

.MainTitle > p:nth-child(1) {
  color: transparent;
  visibility: hidden;
  top: 0;
  right: 0;
}

.MainTitle > p:nth-child(2) {
  color: rgb(248, 207, 64);
  visibility: visible;
  position: absolute;
  top: 0;
  right: 1rem;
}

.MainTitle > p > span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  label[for=menu_check],
  label[for=menu_check]::before,
  label[for=menu_check]::after,
  .menu_wrap,
  .menu_wrap::after {
    display: none;
  }
  nav.Main_Nav {
    top: unset;
    transition: unset;
    position: unset;
    flex: 1 1 auto;
    opacity: 1;
    transform: scale(1, 1);
    align-self: flex-end;
  }
  ul#buttons {
    flex-direction: row;
    padding: 0.2rem;
  }
  ul#buttons button {
    background-color: rgb(23, 45, 72);
  }
  ul#buttons > li {
    margin: 0 0.08rem 0.01rem;
  }
  .MainTitle > p:nth-child(1) {
    color: rgb(248, 207, 64);
    visibility: visible;
    position: relative;
    top: 0;
    right: 1rem;
  }
  .MainTitle > p:nth-child(2) {
    color: transparent;
    visibility: hidden;
    top: 0;
    right: 0;
  }
}
